<script src="widgets/kisshome-defender/kisshomeDefender.umd.js"></script>

<script id="tplKissHomeDefender"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="kisshome-defender"
        data-vis-name="KISSHome Defender"
        data-vis-type="ctrl"
        data-vis-prev='<img src="widgets/kisshome-defender/prev_kisshome-defender.png"></img>'
        data-vis-attrs="instance"
    >
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow: hidden; width: 100%; height: 100%; id="<%= this.data.attr('wid') %>">
        <kisshome-defender
            instance="<%= this.data.attr('instance') %>"
            editMode="false"
            language="de"
            theme="light"
        ></kisshome-defender>
    </div>
</script>